.partner {
  height: 10em;
  margin: 5em 2em;
  text-align: center;

  .company {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .imgbox {
      height: 6em;
      width: 6em;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
