.partner {
  height: 10em;
  margin: 5em 2em;
  text-align: center;
  overflow-x: hidden;

  .company {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .imgbox {
      height: 6em;
      width: 6em;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .partner {
    margin: 2em 1em;
    .company {
      display: grid !important;
      grid-template: auto/repeat(2, 1fr) !important;

      .imgbox {
        margin-inline: auto;
      }
    }
  }
}
