@use "../../variables" as *;

.footer {
  padding: 2em 4em;
  background-color: var(--footer);
  display: grid;
  grid-template: auto/repeat(4, 1fr);

  .main {
    h3 {
      cursor: pointer;
    }

    h4:nth-child(2) {
      color: $accent;
      width: fit-content;
      border-bottom: solid 1px $accent;
      margin: 0.5em 0;
    }
    h4:nth-last-child(2) {
      margin: 1em 0;
    }

    .social {
      display: flex;
      align-items: center;

      h4 {
        color: var(--lightText);
      }

      svg {
        margin-left: 0.5em;
        color: $accent;
        cursor: pointer;
        font-size: 2rem;
        transition: filter 0.3s;

        &:is(:hover) {
          filter: brightness(90%);
        }
      }
    }
  }

  .box {
    li {
      margin: 0.3em 0;
      color: var(--lightText);
      cursor: pointer;
      transition: color ease 0.3s;

      &:is(:hover) {
        color: var(--text-hover);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 2em 1.2em;
    grid-template: auto/repeat(2, 1fr);
    gap: 1em 0;

    .main {
      margin-right: 0.8em;
      width: 100%;
      h3 {
        font-size: 1.5rem !important;
      }
      h4 {
        font-size: 1.3rem;
      }

      .social {
        h4 {
          font-size: 1.4rem;
        }
        svg {
          font-size: 1.4rem;
        }
      }
    }
    .box {
      h3 {
        font-size: 1.5rem !important;
      }
      &:nth-child(2n) {
        margin-left: 0.8em;
      }
      li {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and(min-width:750px) and (max-width: 1000px) {
  .footer {
    margin: 1em;
    padding: 3em 2em;

    .main {
      margin-right: 3em;
      h4 {
        font-size: 1.4rem;
      }

      .social {
        h4 {
          font-size: 1.4rem;
        }
        svg {
          font-size: 1.4rem;
        }
      }
    }

    li {
      font-size: 1.4rem;
    }
  }
}
