.testimonial {
  margin: 5em 2em;

  h1 {
    text-align: center;
    margin: 1em 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box {
      text-align: center;
      padding: 0.2em;
      height: 18em;
      width: 14em;

      h4 {
        margin: 0.5em 0;
      }

      .poster {
        margin-inline: auto;
        width: 5em;
        height: 5em;
        border-radius: 50%;
        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .testimonial {
    margin: 2em 1em;
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .box {
        margin: 1em;
        text-align: start;
        height: 16em;
        width: 16em;
        q {
          font-size: 1.2rem;
          line-height: -1em !important;
        }
        h4 {
          text-align: center;
          margin: 0.1em 0;
        }
      }
    }
  }
}

@media screen and(min-width:750px) and (max-width: 1000px) {
  .testimonial {
    margin: 2em 1em;
    .container {
      .box {
        margin: 0 1em;
        text-align: start;
        height: 16em;
        width: 12em;
        q {
          font-size: 1.2rem;
          line-height: -1em !important;
        }
        h4 {
          text-align: center;
          margin: 0.1em 0;
        }
      }
    }
  }
}
